// ----------------------------------------------------------
// base grid - mobile first
// ----------------------------------------------------------

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  // debug: (
  //   image: show,
  //   color: rgba(#66f, .25),
  //   output: background,
  //   toggle: top right,
  // ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

@include border-box-sizing; // set box sizing here, or do it manually on * {}

// -------------------------------
// breakpoints
// -------------------------------

$mobile                   : 320px; 
$tablet                   : 768px; 
$desktop                  : 1160px; 
$widescreen               : 1280px; 