// ----------------------------------------------------------
// layout
// ----------------------------------------------------------

html, body {
  padding: 0;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

.site-wrapper {
  background-color: $white;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 0 30px 20px rgba(0,0,0,0.1);
}

.body {
  padding: 0 0 4rem;
}

.container{
  @include clearfix;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
.row {
  @include container;
}
.main-col {
  @include breakpoint($tablet){
    
    @include span(8 of 12);
  }
}
.menu {
  margin: 0;
  padding: 0;

  li {
    list-style-type:none;
  }
}


