// ----------------------------------------------------------
// colors
// ----------------------------------------------------------


$red            : #be1e2d;
$redLight       : #be5f68;
$redDark        : #a21a26;
$gold           : #cea732;
$goldLight      : #e9d7a3;
$brown          : #403416;
$black          : #000000;
$white          : #FFFFFF;

$text           : $black;
$link 			: $redDark;
$linkHover		: $redLight;


// ----------------------------------------------------------
// transitions
// ----------------------------------------------------------

$transition         : 200ms ease-in;
